
# pytest
pytest
pytest-mock
pytest-cov

flake8
yamllint
requests
Jinja2
requests
pyyaml
pathlib
click
boto3

# Packages for type checking
mypy
types-requests
types-PyYAML
types-Jinja2
types-click

# Ansible
ansible
ansible-lint